@import '../../App.sass'
.input
    width: calc(547px - 17px)
    height: 44px
    @include border
    padding-left: 17px
    box-shadow: 0px 0px 4px 0px

.label
    display: block
    color: $colorText
    font-size: 12px
    padding: 10px 0

.inputError
    border: 1px solid $errorColor

.inputNormal
    border: 1px solid $primaryColor

.textError
    color: $errorColor
    font-size: 14px
    font-weight: 400px
    text-align: left
    display: block
    padding-top: 10px
