@import '../../App.sass'
.btn

.message
    width: calc(724px - 21px)
    @include border
    padding: 10px 9px 10px 11px
    font-size: $minAvatarTextSize
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5)
    color: $colorWhite

.wrapper
    display: flex
    margin: 25px 0
    position: relative

.time
    top: 100%
    left: 8%
    position: absolute
    color: $colorText
    font-size: 12px

.timeNotMine
    position: absolute
    top: -13%
    right: 87%
    transform: rotateX(180deg) rotateY(180deg)
