@import '../../App.sass'
.btn

.conteiner
    width: 108px
    height: 108px
    @include flex
    color: $colorWhite
    border: 1px solid $colorText
    border-radius: 50%
    margin: 0 10px
    & span
        font-size: $maxAvatarTextSize
        display: block

.minSize
    width: 38px
    height: 38px
    font-size: $minAvatarTextSize
    & span
        font-size: $minAvatarTextSize
