$colorText: #6A6868
$primaryColor: #01C5C4
$errorColor: #FF6C26
$scondaryColor: #B8DE6F
$orangeColor: #F39233
$biscColor: #F1E189
$colorWhite: #ffff
$minAvatarTextSize: 14px
$maxAvatarTextSize: 36px

@mixin border
    font-size: 18px
    outline: none
    border-radius: 16px 4px 16px 4px
    border: 1px solid

@mixin flex
    display: flex
    align-items: center
    justify-content: center

.primaryColor
    background: $primaryColor

.biscColor
    background: $biscColor

.scondaryColor
    background: $scondaryColor

.orangeColor
    background: $orangeColor

.transform
    transform: rotateX(180deg) rotateY(180deg)
    flex-wrap: wrap-reverse

.containerDialogs
    display: flex
    align-items: flex-start
    flex-direction: column
    justify-content: center

.avatarContainer
    display: flex
